<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TYLCopyLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>246448F21C44D1A000B7AB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2464490B1C44D1A000B7AB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>246449161C44D1A000B7AB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
